<object>
    <embed src="{{ include.swffile }}" style="width: 100%;" />
</object>
<br>
<button class="btn btn-primary" type="button" onclick="downloadswf()">Download SWF</button>
<script>
    window.RufflePlayer = window.RufflePlayer || {};
    window.RufflePlayer.config = {
    "contextMenu": "on",
    "showSwfDownload": true,
    "allowFullscreen": true,
    "letterbox": "on"
};
function downloadswf() {
    console.log('Downloaded your SWF file! Enjoy!')
    location.href='{{ include.swffile }}';
}
</script>