<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<body>
<style>
html,
body {
  margin: 0;
  padding: 0;
}
</style>
<script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
<div class="container-fluid mt-3" style="padding: 2em;">
<div class="rounded border bg-transparent bg-body-secondary">
{{ content }}
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@ruffle-rs/ruffle@0.1.0-nightly.2024.8.9/ruffle.min.js"></script>
</body>
</html>